[submodule "opsworks-logstash"]
	path = opsworks-logstash
	url = https://github.com/Springest/opsworks-logstash.git
[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = https://github.com/joeyAghion/opsworks_custom_env.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/aliel/cookbook-elasticsearch.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "hostsfile"]
	path = hostsfile
	url = https://github.com/foxycoder/hostsfile.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbook-yumrepo"]
	path = cookbook-yumrepo
	url = https://github.com/bryanwb/cookbook-yumrepo.git
[submodule "yumrepo"]
	path = yumrepo
	url = https://github.com/bryanwb/cookbook-yumrepo.git
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "yum-erlang_solutions"]
	path = yum-erlang_solutions
	url = https://github.com/opscode-cookbooks/yum-erlang_solutions.git
[submodule "php_fpm"]
	path = php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "7-zip"]
	path = 7-zip
	url = https://github.com/sneal/7-zip.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "xml"]
	path = xml
	url = https://github.com/chef-cookbooks/xml.git
[submodule "iis"]
	path = iis
	url = https://github.com/chef-cookbooks/iis.git
[submodule "chef-sugar"]
	path = chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/chef-cookbooks/mysql.git
[submodule "seven_zip"]
	path = seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip.git
[submodule "mingw"]
	path = mingw
	url = https://github.com/chef-cookbooks/mingw.git
[submodule "compat_resource"]
	path = compat_resource
	url = https://github.com/chef-cookbooks/compat_resource.git
